include ../icons/icons
//- Input control with form-group wrapper
mixin input(type,id,placeholder,label,name)
    .form-group
        label(for="#{id}") #{label}
        input.form-control(type="#{type}",id="#{id}",placeholder="#{placeholder}",name="#{name}")

//- Simple form input control without a form-group
mixin input-simple(type,id,placeholder)
    input.form-control(type="#{type}",id="#{id}",placeholder="#{placeholder}")

//- Checkbox - Block style
mixin checkbox(text,name,id)
    .checkbox
        label
            input(type="checkbox",name="#{name}",id="#{id}")
            = text

//- Checkbox - Inline style
mixin checkbox-inline(text,name,id)
    .checkbox-inline
        input(type="checkbox",name="#{name}",id="#{id}")
        = text

//- Radio box
mixin radio(text,name,id)
    .radio
        label
            input(type="radio",name="#{name}",id="#{id}")
            = text

//- Radio box - Inline style
mixin radio-inline(text,name,id)
    .radio-inline
        input(type="radio",name="#{name}",id="#{id}")
        = text

//- Submit button
mixin submit(text,name,id)
    .form-group
        button.btn.btn-default(type="submit",name="#{name}",id="#{id}")= text

//- Input group - both prepend and append options available, and block is passed
mixin input-group(prepend,append)
    .form-group
        .input-group
            unless !prepend
                .input-group-addon
                    = prepend
                block
                unless !append
                    .input-group-addon
                        = append

//- Icon button
mixin icon-btn(icon)
    button.btn.btn-default(type="button",aria-label="#{icon}")
        +icon(icon)

//- Badges
mixin badge(text)
    span.badge= text
mixin forms(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div(class=spec.__class)&attributes(attributes)
    p This is an example paragraph for the forms module
