//- bootstrap.jade
//- bootstrap mixins


//- Including Icon mixins
include ../_modules/icons/icons
//- Including Alert mixins
include ../_modules/alerts/alerts
//- Including Tooltip mixins
include ../_modules/tooltips/tooltips
//- Including Accordion mixins
include ../_modules/accordion/accordion
//- Including Carousel mixins
include ../_modules/carousel/carousel
//- Including Table mixins
include ../_modules/tables/tables
//- Including Navbar mixins
include ../_modules/navbar/navbar
//- Including Toggle Button mixins
include ../_modules/toggle/toggle
//- Including Nav mixins
include ../_modules/navs/navs
//- Including Label mixins
include ../_modules/labels/labels
//- Including Panel mixins
include ../_modules/panels/panels
//- Including Tab mixins
include ../_modules/tabs/tabs
//- Including Dropdown mixins
include ../_modules/dropdowns/dropdowns
//- Including Form control mixins
include ../_modules/forms/forms
//- Including Modal dialog mixins
include ../_modules/modal/modal
//- Including List group mixins
include ../_modules/list-groups/list-groups
//- Including Progress bar mixins
include ../_modules/progress-bars/progress-bars
//- Including Button mixins
include ../_modules/buttons/buttons
//- Including Image mixins
//-include ../_modules/images/images
//- Including Bootswatch theme mixins
include ../_modules/bootswatch/bootswatch

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="description",content="")
		meta(name="author",content="")
		link(rel="icon",href="../../favicon.ico")
		title= title
		block styles
			link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
	body(data-spy="scroll",data-target=".scrollspy")
		block body
			h1 it's the test for the page	
		block scripts
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
			script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
