//- Image mixins
mixin img-responsive(_src,_alt)
	img.img-responsive(src="#{_src}",alt="#{_alt}")
	
mixin img-responsive-center(_src,_alt)
	img.img-responsive.center-block(src="#{_src}",alt="#{_alt}")

mixin img-rounded(_src,_alt)
	img.img-rounded(src="#{_src}",alt="#{_alt}")
	
mixin img-circle(_src,_alt)
	img.img-circle(src="#{_src}",alt="#{_alt}")
	
mixin img-thumbnail(_src,_alt)
	img.img-thumbnail(src="#{_src}",alt="#{_alt}")
mixin images(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div(class=spec.__class)&attributes(attributes)
    p This is an example paragraph for the images module
